# ignore image files
images/
images
.jpg
.jpeg
*.tif
*.tiff

.DS_Store
_site/
_output/
metadata/issues/

# temporary files #
~$*
.R*

# to not include Github actions in the gh-pages branch
.github/actions/
